*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
	min-width: 1200px;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
}
a { 
    text-decoration: none;	
}
.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	background-color: #eeeeee;
}	
.navigation,
.navigation-cart,
.services-list {
	list-style: none;
}
.navigation a,
.navigation-cart a {
	display: block;
	color: #000000;
}
.navigation a:hover,
.navigation-cart a:hover {
    color: #fb565a;
}
.navigation a:active,
.navigation-cart a:active {
    color: rgba(0, 0, 0, 0.3);
}
.navigation
a.current {
    border-bottom: 2px solid #fb565a;
    padding: 0 0 3px 0px;
}
.services h3 {
	font-size: 24px;
    line-height: 30px;
    text-align: left;
    font-weight: 700;
    margin: 19px 0px 16px;
    text-transform: uppercase;
}
.services p {
	width: 270px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 45px;
}
.button {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	padding: 15px 40px;
	border-radius: 3px;
	text-align: center;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase; 
    background-color: #fb565a;
}
.button-red {
	background-color: #fb565a;
}
.button-green {
	background-color: #00ca74;
}
.button-orange {
	background-color: #efc84a;
}
a.button-red:hover,
a.slider-item-button:hover {
	background-color: #e74246;
}
a.button-red:active,
a.slider-item-button:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}
a.button-green:hover {
	background-color: #00bc6c;
}
a.button-green:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);	
	background-color: #00aa62;
}
a.button-orange:hover {
	background-color: #eab534;
}
a.button-orange:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);	
	background-color: #e5a722;
}
.main-navigation h1 {
	font-size: 54px;
	line-height: 54px;
	font-weight: 500;
	text-align: center;
}
.product-filter fieldset {
	border: none;
}
.product-filter {
	width: 260px;
}
.product-filter legend {
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
}
.product-filter ul {
	list-style: none;
	line-height: 20px;
}
.filter-option {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #283136;
	padding: 10px 0 10px 0px;
}
.filter input:hover + label {
    color: #4d4d4d;
}
.filter input:disabled + label {
    color: rgba(40, 49, 54, 0.3);
    opacity: 0.5;
}
.filter button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	background-color: #eeeeee;
	text-transform: uppercase;
}
.filter button:hover {
	background-color: #dfdfdf;
}
.filter button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.template-site {
    width: 640px;
}
.template-site p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: #666666;
}
.template-site a {
	font-size: 17.5px;
	line-height: 31.5px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}
a.price {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	font-size: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
}
a.price:hover {
	background-color: #e74246;
}
a.price:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.main-header {
	min-height: 140px;
	background-color: #eeeeee;
}
.main-navigation {
	display: flex;
    justify-content: space-between;
	min-height: 140px;
}
.main-header-logo {
	width: 160px;
	height: 65px;
	margin: 49px auto 0 0;
}
.navigation {
	display: flex;
	flex-wrap: wrap;
	width: 708px;
	margin: 0;
	padding: 0;
	padding-right: 20px;
	padding-top: 75px;
	align-items: flex-start;
}
ul.navigation li {
	padding-left: 23px;
	padding-right: 23px;
}
.navigation-cart .shopping-basket {
	padding-left: 41px;
	position: relative;
}
.shopping-basket::before {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    left: 0px; 
    background-image: url("../img/cart-icon.svg");
}
.navigation-cart {
	margin: 0;
	padding: 0;
	padding-top: 76px;
}
.container {
	width: 1200px;
	margin: 0 auto;
    padding: 0 20px;
}
.services-list {
	display: flex;
	width: 1160px;
    padding: 80px 0;
    margin: 0 auto;
    list-style: none;
	min-height: 190px;
	border-bottom: solid 2px #eee;
}
.service {
	width: 300px;
	height: 347px;
	margin-right: 100px;
}
.service:last-child {
	margin-right: 0;
}
.main-footer {
	padding:0;
	margin-top:0;
    min-height: 217px; 
}
.main-footer .container {
	display: flex;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 261px;
    margin: 0 auto;
    padding: 0;
}
.footer-social {
 	width: 261px;
 	padding: 69px 139px 70px 0px;
 	margin: 0;
 	margin-right: 139px;
 	min-height: 79px;
 }
.footer-copyright {
 	width: 560px;
 	padding: 78px 0px; 
 	margin: 0;
 	min-height: 63px;
 }
 .footer-copyright b {
	font-size: 36px;
	line-height: 35px;
	font-weight: 700;
	text-align: left;
	width: 550px;
}
.footer-copyright p {
	font-size: 16px;
	line-height: 22px;
	margin: 8px 0 0;
	font-weight: 400;
	text-align: left;
}
.social-button {
	display: flex;
	align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
}
.social-button:hover {
    background-color: #e74246;
}
.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
.slider {
    position: relative;
    background-color: #eeeeee;
}
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-item {
    display: none;
    padding: 54px 0 80px 0;
}
.slider-item:nth-child(1) {
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-position: 94% -6px;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slider-item:nth-child(3) {
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slider-item p {
    max-width: 432px;
    margin: 0;
    margin-bottom: 44px;
}
.slider-item-button {
    display: block;
    width: 240px;
    padding: 13px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.feedback-modal {
    position: fixed;
    display: none;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    top: 50%;
    left: 50%;
    width: 960px;
    margin-left: -480px;
    margin-top: -290px;
    padding: 67px 100px 84px;
}
.modal-close {
	position: absolute;
	top: 78px;
    right: 90px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background-color: 
}
.feedback-modal h2 {
	width: 100%;
	height: 33px;
    margin: 0;
    margin-bottom: 41px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}
.modal-description {
    margin: 0;
    margin-bottom: 30px;
}
.modal-description-text {
	margin: 0;
    margin-bottom: 47px;
}
.feedback-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.feedback-label {
    display: block;
    margin-bottom: 9px;
    font-weight: 700;
    line-height: 18px;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"] {
    width: 360px;
    height: 50px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}
.feedback-field-post {
	width: 760px;
    height: 118px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}
.feedback-form input:focus,
.feedback-field-post:focus {
	border: 2px solid #000000;
}
.feedback-form input:hover,
.feedback-field-post:hover {
	border: 2px solid #b4b9bb;
}
.feedback-form input:invalid,
.feedback-field-post:invalid {
	color: #e74246;
    border-color: #e74246;
}
.feedback-form .button {
	width: 260px;
	height: 50px;
	border-radius: 3px; 
}
.modal-close:hover {
	background-image: red;
}
svg:hover path {
	fill: #fb565a;
}
svg:active path {
	fill: #ffeeee;
}
.modal-show {
  display: block;
}
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
     70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
       transform: translateY(0);
    }
}
.modal-show {
    display: block;
    animation: bounce 0.5s;
}
@keyframes shake {
    0%,
    100% {
    transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
    transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
    transform: translateX(10px);
    }
}
.modal-error {
    animation: shake 0.6s;
}
.map-contacts {
    position: relative;
    bottom: 51px;
    left: 93px;
	margin: 0;
	padding: 49px 50px 47px;
	width: 319px;
	height: 308px;
	background-color: #ffffff;
}
.map-contacts b {
	display: block;
	margin: 0 0 24px;
	font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.map-contacts p{
	width: 220px;
    margin: 18px 0 0;
    line-height: 18px;
    color: #666;
}
.contacts-button {
	display: block;
	width: 219px;
	height: 50px;
    margin-top: 36px;

}
.modal-map {
	position: relative;
	top: 316px;
}
.htmlacademy img:hover {
	background-image: url("../img/logo-1-png-copy.png");
}
.borodinski img:hover {
	background-image: url(../img/logo-2-png-copy.png);
}
.pink img:hover {
	background-image: url(../img/logo-3-png-copy.png);
}
.mishka img:hover {
	background-image: url(../img/logo-4-png-copy.png);
}
.features-site {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	padding: 76px 0 73px;
	border-bottom: solid 2px #eee;
}
.features b {
	width: 650px;
	height: 87px;
	margin: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}
.features p {
	width: 617px;
	height: 40px;
	line-height: 24px;
	margin: 32px 0 0;
    color: #283136;
}
.features h3 {
	margin: 38px 0 0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.about-list {
	margin: 0;
    padding: 0;
    list-style: none;
}
.about-item {
    padding: 24px 0 0 36px;
    margin: 0 auto;
    color: #283136;
    background-image: linear-gradient(to right,#fff 1px,transparent 1px,transparent 26px,#fff 26px),linear-gradient(transparent 35px,#fb565a 35px,#fb565a 37px,transparent 37px);
}
.about-subtitle {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin: 38px 0 0;
}
.about-options {
	width: 208px;
    padding: 16px 0;
    margin-top : 45px;
	font-size: 45px;
	line-height: 45px;
	text-align: left;
	font-weight: 700;
}
.about-param {
	padding: 3px 0;
    line-height: 18px;
    color: #283136;
}
.sponsors {
	display: flex;
	justify-content: space-between;
	padding: 46px 43px 44px 31px;
	border-bottom: solid 2px #eee;
}
.shop-template {
	margin: 0;
    padding: 53px 60px 107px;
    font-weight: 500;
    font-size: 55px;
    line-height: 1;
    text-align: center;
    background-color: #eee;
}
.catalog-filter {
	width: 260px;
	padding-top: 133px;
	margin-right: 140px;
}
.filter-group {
	margin: 35px 0 0;
    padding: 0;
}
.catalog-subtitle {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.filter-item {
	padding: 0;
}
.filter-button {
	width: 100%;
    margin-top: 39px;
    background-color: #eeeeee;
    padding: 17px 40px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}
.filter-button:hover {
    background-color: #dfdfdf;
}
.filter-button:active {
    background-color: #dfdfdf;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
.template-site {
	position: relative;
    padding-top: 40px;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
	background-image: url(../img/browser.png);
	width: 360px;
	margin-bottom: 33px;
}
.template-site:hover {
    background-image: url("../img/browser.svg");
}
.catalog-container {
	display: flex;
}
.web-site-templates {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 133px;
	width: 760px;
    text-align: center;
}
.catalog-description-sedona {
	position: absolute;
	left: 495px;
	top: 874px;
	width: 360px;
	height: 231px;
    padding: 30px 80px 43px 80px;
	background-color: #eeeeee;
	display: none;
}
.pop-up-sedona:hover .catalog-description-sedona,
.pop-up-pink:hover .catalog-description-pink,
.pop-up-barbershop:hover .catalog-description-barbershop, 
.pop-up-mishka:hover .catalog-description-mishka, 
.pop-up-aplus:hover .catalog-description-aplus, 
.pop-up-kvast:hover .catalog-description-kvast  {
  display: block;
}
.product-name {
    font-size: 17px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.product-info {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #666666;
}
.price {
    width: 200px;
    padding: 15px 60px 15px 60px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 3px;
}
.catalog-description-pink {
    position: absolute;
    right: 94px;
    top: 874px;
    width: 360px;
    height: 231px;
    padding: 30px 80px 43px 80px;
    background-color: #eeeeee;
    display: none;
}
.catalog-description-barbershop {
    position: absolute;
    left: 495px;
    top: 1523px;
    width: 360px;
    height: 231px;
    padding: 30px 80px 43px 80px;
    background-color: #eeeeee;
    display: none;
}
.catalog-description-mishka {
    position: absolute;
    right: 94px;
    top: 1523px;
    width: 360px;
    height: 231px;
    padding: 30px 80px 43px 80px;
    background-color: #eeeeee;
    display: none;
}
.catalog-description-aplus {
    position: absolute;
    right: 494px;
    top: 2172px;
    width: 360px;
    height: 231px;
    padding: 30px 80px 43px 80px;
    background-color: #eeeeee;
    display: none;
    
}
.catalog-description-kvast {
    position: absolute;
    right: 94px;
    top: 2172px;
    width: 360px;
    height: 231px;
    padding: 30px 80px 43px 80px;
    background-color: #eeeeee;
    display: none;
}